* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}

nav .nav, nav .right-nav, nav .nav-logo{
	margin: 0.5rem;
	display: inline-block;
	position: sticky;
	text-align: center;
}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	float:right;
}

.title, .subtitle {
	color: white;
	text-align: right;
}

.apply-button {
	color:white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	padding: 5.75px 13.5px;
	center: 25px;
	text-align: center;
	float:right;
}

.intro  {
	text-align:center;
	padding: 3rem;
	margin: 3rem;
	
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 40vh;
	background-position: center center;
}

#bg-image .container {
    color: white;
}

.front-bg > title {
	background-color: black;
	opacity: 0.2;
	
}

#intro title, title-2 {
	font-family: "Zilla Slab". sans-serif;
}

.title-2 {
	margin: 1rem;
	padding: 1rem;
}
.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	padding: 3rem;
	margin: 3rem;
}

.book-button {
	background-color: #336589;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

footer {
	text-align: center;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}